*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#number-shoes{
    position: fixed;
    width: 80%;
    left: 10%;
    z-index: 1;
}


#number-shoes span{
    background-color: darkgray;
    width: 2%;
    margin-right: 4%;
    margin-top: 2%;
    list-style: none;
    float: right;
    text-align: center;
    border-radius: 50%;
    
}   


/* shose nr1 */


.container{
    margin: auto;
    background-color: red;
    width: 80%;
    height: 100vh;
    position: relative;
}   


.container .container-shose{
    width: 70%;
    height: 70%;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
  
}

.container .container-shose .container-shose-1{

    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);

    width: 60%;
    height: 60%;
    background-image: url(img/01.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container .container-shose .container-shose-1 .best-shoes{
    color: chartreuse;
    position: absolute;
    top: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}


.container .container-shose:hover{
    background-color: honeydew;
}

/* shose nr 2 */

#container-2{
    background-color: green;
}

#shose-2{
    background-image: url(img/02.png);
}

/* shose nr3 */

#container-3{
    background-color: yellow;
}

#shose-3{
    background-image: url(img/03.png);
}

.text-shose-3{
    color: green;
}

/* utility  */

.border{
    border: solid 2px black;
}